figure.img {
    margin: 0;
    text-align: center;
  }
  figure.img img {  /* изображение уменьшается пропорционально экрану браузера */
    max-width: 100%;
    height: auto;
  }
  figure.img figcaption {  /* стиль описания */
    padding: 0 1%;
    font: italic 90% Georgia,serif;
  }
  body {
    counter-reset: figures;
  }
  figure.img figcaption {
    counter-increment: figures;
  }
  figure.img figcaption:before {
    content: 'Img.' counter(figures) ' ';
  }